<div class="bg-primary text-white rounded row">
    <div class="col-xs-6 col-md-6">
        <h1>E-commerce Website</h1>
        <p>DXHH &copy; 2022</p>
    </div>
    <div class="col-xs-6 col-md-6 text-white">
        <h6>Quick Links</h6>
        <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
    </div>
</div>